<li role="menuitem">
    <a href="#" class="ripplelink">
        <i class="material-icons">list</i>
        <span>Filtering</span>
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
    <ul role="menu">
        <div class="ui-g dashboard">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-12">
                        <form novalidate [formGroup]="min_length_form" (ngSubmit)="save_min_length(min_length_form.value, min_length_form.valid)">
                                <input type="number" formControlName="min_length" pInputText/>
                                <label>Mininum region length</label>
                        </form>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <span class="md-inputfield">
                            <input [(ngModel)]="max_length" pInputText/>
                            <label>Maximum region length</label>
                        </span>
                    </div>
                    <data-load-progress-bar #progressbar></data-load-progress-bar>
                </div>
            </div>
        </div>
    </ul>
</li>
<!--
 <label>Email</label>
                        <input type="text" pInputText>
                        <button pButton type="button" label="Primary Button" style="margin-bottom:10px" styleClass="flat"></button>

                        -->