<li role="menuitem">
    <a href="#" class="ripplelink">
        <i class="material-icons">list</i>
        <span>Select Genome ({{ this.deepBlueService.selectedGenome?.name }}) </span>
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
    <ul role="menu">
        <li *ngFor="let genome of selectGenomes" role="menuitem" (click)="changeGenome($event, genome)">        
            <a href="#" class="ripplelink">
                <i class="material-icons">{{ getStyle(genome) }}</i><span> {{ genome.name }}</span>
            </a>
        </li>            
    </ul>
</li>    
