<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Overlaping Histone {{ deepBlueService.getEpigeneticMark().name }} with {{ deepBlueService.getAnnotation().name }}</h1>
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <p-multiSelect 
                        [defaultLabel]="defaultSelectBiosourcesLabel"
                        [options]="biosourcesItems" 
                        [(ngModel)]="selectedMultiSelectBiosources"
                        (onChange)="selectBiosources($event)">                
                    </p-multiSelect>
                </div>
                
                <div class="ui-toolbar-group-right">
                    <p-splitButton label="Save" icon="fa-check" [model]="items"></p-splitButton>
                </div>
           </p-toolbar>
            <overlaps-bar-chart #overlapbarchart> </overlaps-bar-chart>
            <data-load-progess-bar #progressbar></data-load-progess-bar>
        </div>
    </div>    

    <div class="ui-g-12">
        <div class="card card-w-title">
            <h2>Displayed data</h2>
            <ul>
                <li *ngFor="let experiment of experiments"> {{ experiment.name }}({{ experiment.id }})   </li>            
            </ul>
        </div>
    </div>
</div>