<div class="ui-fluid">
  <div class="card card-w-title">
    <div class="ui-g">
      <div *ngIf="finished == false" class="ui-g-2">
        <h2>Selected Data </h2>
        <h4 style="word-wrap: break-word">{{ background?.text() }}</h4>
        <h4>{{ getDatasetsLabel() }}</h4>
      </div>

      <div class="{{ wizardClassLength() }}">
        <aw-wizard #wizard [navBarLocation]="'top'" [navBarLayout]="'small'">

          <aw-wizard-step stepTitle="Overlapping Enrichment" (stepEnter)="inWizard($event)">

            <navegation-menu [disablePrevious]="true"></navegation-menu>

            <p-fieldset legend="Welcome">
              We are going to perform overlapping enrichment
            </p-fieldset>


          </aw-wizard-step>

          <aw-wizard-step stepTitle="Background" (stepEnter)="inWizard($event)">
            <navegation-menu></navegation-menu>

            <p>Blablabla Select background data</p>
            <p>
              <small>background is blablabla</small>
            </p>
            <data-selection-main (queryIdSelected)="selectBackgroud($event)"></data-selection-main>
          </aw-wizard-step>

          <aw-wizard-step stepTitle="Datasets" (stepEnter)="inWizard($event)">
            <navegation-menu></navegation-menu>

            <p>Blablabla Select the datasets data</p>
            <p>
              <small>datasets that will be used for the enrichment is blablabla remember that the execution time grows with more
                datasets
              </small>
            </p>

          </aw-wizard-step>

          <aw-wizard-step stepTitle="Execute" (stepEnter)="finishWizard($event)">
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <button pButton type="button" awPreviousStep label="Back" icon="ui-icon-arrow-back"></button>
              </div>

              <div class="ui-toolbar-group-right">
                <button pButton type="button" class="ui-button-success" awNextStep (click)="startEnrichment($event)" label="Start Analysis"
                  icon="fa fa-fw fa-check"></button>
              </div>
            </p-toolbar>`

            <h2>Selected Data </h2>

          </aw-wizard-step>

        </aw-wizard>
      </div>
    </div>
  </div>
</div>