<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Import DeepBlue's query ID</h1>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input type="text" pInputText placeholder="DNA Motif" (keyup.enter)="useMotif()" [(ngModel)]="motif">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6">
                <p *ngIf="!minimulLength()">The motif must be at least 8 letters long</p>
                <p-toolbar *ngIf="minimulLength()">
                  <div class="ui-toolbar-group-left">
                    <button pButton type="button" (click)="useMotif()" label="Use Motif"></button>
                  </div>
                </p-toolbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>