<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Paste Regions</h1>
        <h2>
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Query ID" (keyup.enter)="onEnter()" [(ngModel)]="query_id">
            <button pButton type="button" icon="fa-superpowers" class="ui-button-secondary"></button>
        </div>
        </h2>

        <p-organizationChart [value]="data" selectionMode="single" styleClass="company">
          <ng-template let-node pTemplate="person">
            <div class="node-header ui-corner-top"> {{node.label}} </div>
            <div class="node-content">
              <div *ngFor="let parameter of node.data.parameters">{{parameter}}</div>
            </div>
          </ng-template>
          <ng-template let-node pTemplate="department">
            {{ node.label }}
          </ng-template>
        </p-organizationChart>

      </div>
    </div>
  </div>
</div>