<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Import DeepBlue's query ID</h1>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input type="text" pInputText placeholder="Query ID" (keyup.enter)="useQueryId()" [(ngModel)]="model_query_id">
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-6">
                <p-toolbar>
                  <div class="ui-toolbar-group-left">
                    <button pButton type="button" (click)="useQueryId()" label="Display Query"></button>
                  </div>
                  <div *ngIf="hasQueryObject()" class="ui-toolbar-group-right">
                    <button pButton type="button" (click)="useQuery()" label="Load Query"></button>
                  </div>
                </p-toolbar>
              </div>
            </div>

            <query-flow [queryId]="query_id" (queryOp)="storeQueryObject($event)"></query-flow>
          </div>
        </div>
      </div>
    </div>