<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Paste Regions</h1>
        <h2>
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Query ID" (keyup.enter)="onEnter()" [(ngModel)]="model_query_id">
            <button pButton type="button" icon="fa-superpowers" class="ui-button-secondary"></button>
          </div>
          <div class="Ui-inputgroup">
            <p>
              <button pButton type="button" (click)="useQuery()" label="Load Query"></button>
          </div>
        </h2>
      <query-flow [queryId]="query_id" (queryOp)="loadQuery($event)"></query-flow>
      </div>
    </div>
  </div>
</div>