<div class="content-section implementation">

  <h3 class="first">Select Genes</h3>

  <div class="ui-g-12 ui-md-2">
    <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
      (onChange)="selectGeneModel($event)">
    </p-dropdown>
  </div>

  <p-autoComplete pInputText placeholder="Gene name or ID" forceSelection="true" [(ngModel)]="gene" [suggestions]="genes_suggestions"
    (completeMethod)="search_genes($event)" [dropdown]="true" (onDropdownClick)="handle_dropdown_genes($event)" [size]="30"
    delay="0" field="name" (onSelect)="content_changed()" (onUnselect)="content_changed()"> </p-autoComplete>

  <button pButton type="button" icon="ui-icon-check-circle" label="Select Genes" (click)="selectGenes($event)"></button>
</div>

<div ngClass="ui-g-12">
  <div class="card card-w-title">
    <ngx-datatable class='material' [columns]="datatable_columns" [rows]='selected_genes' [headerHeight]="50" [footerHeight]="50"
      [columnMode]="'force'" [rowHeight]="'auto'" [columnMode]="'force'" [limit]="25" [selectionType]="'single'" [selected]="dt_selected_gene">
    </ngx-datatable>

  </div>
</div>