<div class="card card-w-title">
    <h1>Select the BioSources that you wish to dive</h1>
    <p-pickList #picklist
            [source]="sourceBioSources"
            [target]="targetBioSources"
            sourceHeader="Available"
            targetHeader="Selected"
            (onMoveToTarget)="onMoveToTarget($event)"
            (onMoveToSource)="onMoveToSource($event)"
            [responsive]="true">

        <ng-template let-biosource pTemplate="item">
            <span>{{biosource.name}}</span>
        </ng-template>

    </p-pickList>
</div>