$primaryColor: #03A9F4;
$primaryDarkColor: #0277BD;
$primaryLightColor: #81D4FA;
$accentColor: #5180ce;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';

.ui-dropdown {
    min-width: 50px !important;
}
