<div class="ui-g ui-fluid">
    <div [ngClass]="{'ui-g-12': true}">
        <div class="card card-w-title">
            <h1>{{ deepBlueService.getDivingData().data().name() }} overlapping with Chromatin State {{ this.deepBlueService.epigeneticMarkSource.getValue().name
                }} </h1>
            <p-multiSelect #multiselect [defaultLabel]="defaultSelectBiosourcesLabel" [options]="biosourcesItems" [(ngModel)]="selectedMultiSelectBiosources"
                (onChange)="selectBiosources($event)">
            </p-multiSelect>
            <app-overlaps-bar-chart #overlapbarchart (dataSelected)="setDataInfo($event)"> </app-overlaps-bar-chart>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="showDataDetail" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md">
    <app-data-info-box [data]="dataInfo" (dataSelected)="dataSelected()"></app-data-info-box>
</p-sidebar>