<div class="ui-fluid">
    <div [ngClass]="{'ui-g-12': true, 'ui-lg-10': (hasDataDetail()), 'ui-lg-12': (hasDataDetail() == false) }">
        <div class="card card-w-title">
            <h1>Overlaping Genes with {{ deepBlueService.getDivingData().data().name() }}</h1>

            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Annotation Name</label>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <p><button pButton type="button" (click)="includeBar()" label="Filter overlapping"></button>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
                        (onChange)="selectGeneModel($event)">
                    </p-dropdown>
                </div>
            </div>
            <app-overlaps-bar-chart #overlapbarchart> </app-overlaps-bar-chart>
        </div>
    </div>
    <div *ngIf="hasDataDetail()" class="ui-g-12 ui-lg-2">
        <app-data-info-box></app-data-info-box>
    </div>
</div>


<p-dialog header="Upload your own dataset" [(visible)]="showIncludeBar" [width]="800" [height]="1200">
    <p-tabView>
      <p-tabPanel header="Extend">
            Direction: <p-dropdown [options]="directions" [(ngModel)]="selectedDirection" optionLabel="name" [filter]="true" filterBy="label,value.name"></p-dropdown>
            Length:
      </p-tabPanel>
      <p-tabPanel header="Paste Regions">
            cu
      </p-tabPanel>
  </p-tabView>
  </p-dialog>
