<div class="ui-fluid">
    <div [ngClass]="{'ui-g-12': true, 'ui-lg-10': (hasDataDetail()), 'ui-lg-12': (hasDataDetail() == false) }">
        <div class="card card-w-title">
            <h1>Overlaping Genes with {{ deepBlueService.getAnnotation().name }}</h1>

            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Annotation Name</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
                        (onChange)="selectGeneModel($event)">
                    </p-dropdown>
                </div>
            </div>
            <app-overlaps-bar-chart #overlapbarchart> </app-overlaps-bar-chart>
            <data-load-progress-bar #progressbar></data-load-progress-bar>
        </div>
    </div>
    <div *ngIf="hasDataDetail()" class="ui-g-12 ui-lg-2">
        <data-info-box></data-info-box>
    </div>
</div>
