<div class="ui-fluid">
  <div [ngClass]="{'ui-g-12': true}">
    <div class="card card-w-title">
      <h1>Gene Ontology Enrichment</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-3">
          <label for="input">Annotation Name</label>
        </div>
        <div class="ui-g-12 ui-md-2">
          <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
            (onChange)="selectGeneModel($event)">
          </p-dropdown>
        </div>
      </div>

      <div *ngIf="isWaiting">
        <h1>Processing Gene Ontology Enrichment</h1>
        <h2>It may take up a few minutes, please, wait.</h2>
      </div>

      <div *ngIf="!isWaiting">
        <p-fieldset legend="Filtering">

          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3">
              <label for="input">Mimimum number of overlapping genes with the GO term</label>
            </div>
            <div class="ui-g-12 ui-md-2">
              <input type="text" pInputText [(ngModel)]="filter_go_overlap" placeholder="Mimimum number of GO term overlaps" (ngModelChange)="filter_enrichment_data()"
              />
            </div>
          </div>

          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3">
              <label for="input">Minimum ration of overlapping genes with the total number of genes (%) </label>
            </div>
            <div class="ui-g-12 ui-md-2">
              <input type="text" pInputText [(ngModel)]="filter_ratio" placeholder="Mimimum ratio" (ngModelChange)="filter_enrichment_data()"
              />
            </div>
          </div>

          <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-3">
                <label for="input">P-Value</label>
              </div>
              <div class="ui-g-12 ui-md-2">
                <input type="text" pInputText [(ngModel)]="filter_p_value" placeholder="P-value" (ngModelChange)="filter_enrichment_data()"
                />
              </div>
            </div>
        </p-fieldset>
      </div>

      <p>

      </p>
      <p-tabView #tabview (onChange)="onTabChange($event)">
        <p-tabPanel header="Plot">
          <app-overlaps-bar-chart #overlapbarchart> </app-overlaps-bar-chart>
        </p-tabPanel>
        <p-tabPanel *ngFor="let data of enrichment_data; let i = index" [header]=selectedData.getStackname(i)>
          <ngx-datatable class='material' [columns]="columns" [rows]='data' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10">
          </ngx-datatable>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>