<div class="ui-fluid">
    <div [ngClass]="{'ui-g-12': true, 'ui-lg-10': (hasDataDetail()), 'ui-lg-12': (hasDataDetail() == false) }">
        <div class="card card-w-title">
            <h1>GO enrichment</h1>

            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Annotation Name</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
                        (onChange)="selectGeneModel($event)">
                    </p-dropdown>
                </div>
            </div>

            <li *ngFor="let data of enrichment_data">
                <ngx-datatable class='material' [columns]="columns" [rows]='data' [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'" [limit]="50">
                </ngx-datatable>
            </li>
        </div>
    </div>
</div>