<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <h1>Welcome to Dive</h1>
        <h2>Please, select what you desire to perform</h2>

        <div class="ui-g">

          <div class="ui-g-4">
            <button pButton type="button" (click)="showDemoDialog()" label="Use demonstration Dataset (CpG Islands)" style="height: 80px"></button>
          </div>

          <div class="ui-g-4">
            <button pButton type="button" label="Use an existing dataset" style="height: 80px"></button>
          </div>

          <div class="ui-g-4">
            <button type="text" (click)="showUploadDialog()" pButton icon="fa-external-link-square" label="Upload your own dataset" style="height: 80px"></button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog header="Upload your own dataset" [(visible)]="showUpload" [width]="800" [height]="1200">
  <p-tabView>
    <p-tabPanel header="Upload File">
        <regions-upload (queryIdSelected)="selectQuery($event)"></regions-upload>
    </p-tabPanel>
    <p-tabPanel header="Paste Regions">
        <regions-paste (queryIdSelected)="selectQuery($event)"></regions-paste>
    </p-tabPanel>
</p-tabView>
</p-dialog>
