<div class="card card-w-title">
  <h1>Select the universe</h1>

  <h1>{{ selected_data?.text() }} </h1>

  <p-tabView>

    <p-tabPanel header="Datasets">
      <select-datasets-component [selectMode]="'single'" (queryIdSelected)="selectQuery($event)"></select-datasets-component>
    </p-tabPanel>

    <p-tabPanel header="Experiments">
      <select-experiments-component (queryIdSelected)="selectQuery($event)"></select-experiments-component>
    </p-tabPanel>

    <p-tabPanel header="Annotations">
      <select-annotations-component [toCompare]="false" (queryIdSelected)="selectQuery($event)"></select-annotations-component>
    </p-tabPanel>

    <p-tabPanel header="Tiling Regions">
      <select-tiling-component (queryIdSelected)="selectQuery($event)"></select-tiling-component>
    </p-tabPanel>

    <p-tabPanel header="Query ID">

    </p-tabPanel>

    <p-tabPanel header="Genes">
      <select-genes-component (queryIdSelected)="selectQuery($event)"></select-genes-component>
    </p-tabPanel>

    <p-tabPanel header="Upload">

    </p-tabPanel>

  </p-tabView>
</div>

<div class="card card-w-title">
  <h1>Select the datasets to be compared agains</h1>

  <h1>{{ selected_data?.text() }} </h1>
  <select-datasets-component (datasetsSelected)="selectDatasets($event)"></select-datasets-component>

  <button pButton type="button" icon="ui-icon-check-circle" label="Enrich the data selection" (click)="process($event)"></button>
</div>

<div class="card card-w-title">
  <h1>Results</h1>
  <div *ngFor="let data of enrichment_data; let i = index">
    <h2> {{ selectedData.getStackname(i) }} </h2>
    <ngx-datatable class='material' [columns]="columns" [rows]='data' [columnMode]="'force'" [limit]="50"></ngx-datatable>
  </div>
</div>