<div class="ui-g ui-fluid">
    <div [ngClass]="{'ui-g-12': true}">
        <div class="card card-w-title">
            <h1>Overlaping {{ deepBlueService.getSelectedEpigeneticMark().name }} with {{ deepBlueService.getDivingData().data().name()
                }}</h1>
            <p-multiSelect #multiselect [defaultLabel]="defaultSelectBiosourcesLabel" [options]="biosourcesItems" [(ngModel)]="selectedMultiSelectBiosources"
                (onChange)="selectBiosources($event)">
            </p-multiSelect>
            <app-overlaps-bar-chart #overlapbarchart> </app-overlaps-bar-chart>
        </div>
    </div>
</div>


<p-sidebar [(visible)]="hasDataDetail" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md">
    <app-data-info-box (dataSelected)="dataSelected()"></app-data-info-box>
</p-sidebar>
