<div class="ui-g ui-fluid">
    <div ngClass="ui-g-12">
        <div class="card card-w-title">
            <h1>Selected regions</h1>

                <ngx-datatable
                  class='material'
                  [rows]='rows'
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                    [limit]="10">
                </ngx-datatable>

                <p><a href="{{ generateUCSCExportLine() }}" target="_blank">Export to genome browser</a></p>
                <p><a href="{{ generateDownloadLink() }}" target="_blank">Download regions</a></p>
                <data-load-progress-bar #progressbar></data-load-progress-bar>
        </div>
    </div>
</div>