<p-confirmDialog header="Also include these similar biosources?" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                Select data by similarity
                <p-tabView>
                    <p-tabPanel header="Epigenetic Marks">
                        <app-similarity-bar-chart #emssimilaritybarchart> </app-similarity-bar-chart>
                    </p-tabPanel>
                    <p-tabPanel header="Biosources">
                        <app-similarity-bar-chart #biosourcessimilaritybarchart> </app-similarity-bar-chart>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="ui-g">
                <div class="ui-g-1">
                    <label>Cut-off</label>
                </div>
                <div class="ui-g-2">
                    <p-dropdown [options]="cutoffOptions" [(ngModel)]="cutoffValue" [style]="{'width':'150px'}" (onChange)=reloadData()></p-dropdown>
                </div>
                <div class="ui-g-1"> </div>
                <div class="ui-g-1">
                    <label>Order</label>
                </div>
                <div class="ui-g-2">
                    <p-dropdown [options]="orderOptions" [(ngModel)]="orderDirection" [style]="{'width':'150px'}" (onChange)=reloadData()></p-dropdown>
                </div>
            </div>


            <app-biosources-screen></app-biosources-screen>
        </div>
    </div>
</div>