<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Select the data to DIVE in</h1>
                <select-deepblue-annotations-component [toCompare]="true" (annotationSelected)="selectAnnotation($event)" (comparedAnnotationSelected)="selectAnnotationForComparison($event)"></select-deepblue-annotations-component>
            </div>
            <app-biosources-screen></app-biosources-screen>
        </div>
    </div>
</div>