$primaryColor: #03A9F4;
$primaryDarkColor: #0277BD;
$primaryLightColor: #81D4FA;
$accentColor: #5180ce;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #FFC107;
$lightMenuRouterLinkActiveColor: #03A9F4;
$horizontalLightMenuRouterLinkActiveColor: #FFC107;

@import '../../sass/layout/_layout';